#work {
    margin-bottom: 150px;
    background-color: #1b262f;
}

.work__block {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work__content {
    max-width: 445px;
    margin-right: 60px;
}

.work__title {
    font-family: $font;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.369231px;
    color: #fbfcfe;
    margin-bottom: 24px;
}

.work__item {
    text-align: center;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: auto;
}

.work__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #fbfcfe;
    mix-blend-mode: normal;
    opacity: 0.7;
    margin-bottom: 32px;
}

.work__link {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.115385px;
    color: #fbfcfe;
    padding: 15px 32px;
    border: 1px solid #fbfcfe;
    border-radius: 24px;

    &:hover {
        background-color: #fbfcfe;
        color: #1b262f;
    }
}

.work__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 536px;
    justify-content: space-between;
    gap: 30px;
}

@media only screen and (max-width: 1061px) {
    #work {
        margin-bottom: 100px;
    }

    .work__block {
        padding-top: 88px;
        padding-bottom: 88px;
        display: block;
    }

    .work__content {
        max-width: 457px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 64px;
    }

    .work__list {
        display: flex;
        margin: 0 auto;
        gap: 0;
    }

    .work__item:nth-child(1) {
        margin-bottom: 39px;
    }

    .work__item:nth-child(2) {
        margin-bottom: 39px;
    }

    .work__item:nth-child(3) {
        margin-bottom: 39px;
    }
}

@media only screen and (max-width: 629px) {
    #work {
        margin-bottom: 80px;
    }

    .work__block {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .work__content {
        max-width: 327px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 56px;
    }

    .work__title {
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 16px;
    }

    .work__text {
        margin-bottom: 60px;
    }

    .work__list {
        max-width: 280px;
        flex-wrap: wrap;
        gap: 0;
    }

    .work__item:nth-child(1) {
        max-width: 107px;
        margin-bottom: 39px;
    }

    .work__item:nth-child(2) {
        max-width: 120px;
        margin-bottom: 39px;
    }

    .work__item:nth-child(3) {
        max-width: 115px;
        margin-bottom: 39px;
    }

    .work__item:nth-child(4) {
        margin-bottom: 39px;
        max-width: 108px;
    }

    .work__item:nth-child(5) {
        max-width: 79px;
    }

    .work__item:nth-child(6) {
        max-width: 113px;
    }
}